<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cabeçalho</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{style.css}" />
</head>
<body>
<div th:fragment="header" th:class="links">
    <h1 th:class="cabecalho">JJ Solution</h1>
    <span> | </span>
    <a href="/listaUsuariosTemplate" th:href="@{/listaUsuariosTemplate}" th:class="links">Lista de Usuarios</a>
    <span> | </span>
    <a href="/cadastroUsuario" th:href="@{/cadastroUsuario}" th:class="links">Cadastrar Usuario</a>
    <span> | </span>
    <hr />
    <span> | </span>
    <a href="/cadastroAparelho" th:href="@{/cadastroAparelho}" th:class="links">Cadastrar Aparelho</a>
    <span> | </span>
    <a href="/listaAparelhosTemplate" th:href="@{/listaAparelhos}" th:class="links">Lista de aparelhos</a>
    <hr />
</div>
</body>
</html>